@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>

    <table border="0">
        <tr>
            <td colspan="5"><input id="Visor" type="text" value="0" style="text-align:right;" readonly /></td>
        </tr>
        <tr>
            <td><input type="submit" value="7" class="btn btn-light" /></td>
            <td><input type="submit" value="8" class="btn btn-light" /></td>
            <td><input type="submit" value="9" class="btn btn-light" /></td>
            <td><input type="submit" value="/" class="btn btn-light" /></td>
            <td><input type="submit" value="+/-" class="btn btn-light" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="4" class="btn btn-light" /></td>
            <td><input type="submit" value="5" class="btn btn-light" /></td>
            <td><input type="submit" value="6" class="btn btn-light" /></td>
            <td><input type="submit" value="*" class="btn btn-light" /></td>
            <td><input type="submit" value="C" class="btn btn-light" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="1" class="btn btn-light" /></td>
            <td><input type="submit" value="2" class="btn btn-light" /></td>
            <td><input type="submit" value="3" class="btn btn-light" /></td>
            <td><input type="submit" value="+" class="btn btn-light" /></td>
            <td rowspan="2"><input type="submit" value="=" class="btn btn-light" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="0" class="btn btn-light" /></td>
            <td><input type="submit" value="," class="btn btn-light" /></td>
            <td><input type="submit" value="-" class="btn btn-light" /></td>
        </tr>
    </table>
</div>

